<mat-toolbar style="min-width: 100%; max-width: max-content; background-color: rgb(80, 141, 255); color: white;" class="mat-elevation-z8"> 
    <span style="width: 10px;"></span>
  
    <button mat-icon-button routerLink="../">
      <mat-icon>home</mat-icon>
    </button>
    <span font-color="white" style="margin-left: 10px;">Restaurant picker</span>
    <span *ngIf="this.authService.isLoggedin()">
      
    </span>

    <span style="flex: 1 1 auto;">
      <button style="float: right; margin-right: 15px;" mat-stroked-button routerLink="../login" *ngIf="!this.authService.isLoggedin()">
        Log In
      </button>
      <button style="float: right; margin-right: 15px;" mat-stroked-button routerLink="../register" *ngIf="!this.authService.isLoggedin()">
        Register
      </button>
      <button style="float: right;" mat-stroked-button routerLink="../" *ngIf="this.authService.isLoggedin()" (click) = "this.authService.logOut()">
        Log Out
      </button>
    </span>
    
</mat-toolbar>
<router-outlet></router-outlet>